.carousel-styled{
  height: 500px;
  width:100%;
}
.carousel-inner{
  height:100%;
  width:100%;
}

.carousel-img{
  height:100%;
  width:100%;
}

.navbar-styled{
  margin-bottom: 0;
}

.py-10{
  padding: 20px 0;
}

.title{
  font-size: 35px;
  font-weight: 700;
}